@media screen and (max-width: 900px) {
    body{
        max-width: 100%;
    }
    .logo__name {
        display: none;
    }

    .links {
        font-size: 1.7rem;
    }

    .hero {
        display: flex;
        flex-direction: column;
    }

    .hero__img {
        height: 25rem;
        margin-left: -12rem;
    }

    .text__apresentation {
        font-size: 2rem;
        text-align: center;
    }

    .catalogo {
        width: 70rem;
        flex-wrap: nowrap;
        gap: 15px;
    }

    .contatos {
        flex-direction: column;
    }
    .content__responsive {
        display: none;
    }

}

@media screen and (max-width: 500px) {
    body{
        max-width: 100%;
    }
    .swiper-navBtn {
        visibility: hidden;
    }
    .logo__name{
        display: block;
    }
    .links {
        display: none;
    }
    .links {
        font-size: 1.5rem;
    }

    .text__content {
        padding: 1rem;
        max-width: 35rem;
    }
    
    .text__apresentation {
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
    }

    .hero__img {
        height: 20rem;
        width: 40rem;
    }
}
