@media screen and (max-width: 900px) {
    body{
        max-width: 100%;
    }

    .logo__name {
        display: none;
    }

    .links {
        font-size: 1.7rem;
    }

    .hero {
        display: flex;
        flex-direction: column;
    }
    .hero__img{
        display: none;
    }
    .text__apresentation {
        font-size: 2rem;
        text-align: center;

    }

    .catalogo {
        width: 70rem;
        flex-wrap: nowrap;
        gap: 15px;
    }

    .contatos {
        flex-direction: column;
        text-align: center;
    }
    .content__responsive {
        display: none;
    }
    .swiper-navBtn {
        visibility: hidden;
    }
    .text__apresentation{
        color: #7A4850;
        font-size: 1.5rem;
        width: 37rem;
        text-align: center;
        word-break: normal;
        margin-top: 10rem;  
        margin-left: 3rem;
    }
    #produtos{
        margin-top: 30rem;
    }
}

@media screen and (max-width: 500px) {
    body{
        max-width: 100%;
    }
    .swiper-navBtn {
        visibility: hidden;
    }
    .logo__name{
        display: block;
    }
    .links {
        display: none;
    }
    .links {
        font-size: 1.5rem;
    }
    #produtos{
        margin-top: 25rem;
    }
    .text__content {
        padding: 1rem;
        max-width: 37rem;
        color: #7A4850;
    }
    
    .text__apresentation {
        font-size: 1.5rem;
        width: 37rem;
        text-align: center;
        word-break: normal;
        margin-top: 9rem;
        margin-left: -.4rem;
    }
    .atendimento {
         display: none;
    }
}
